@charset "UTF-8";

#albumSearch {max-height: 290px;}
#albumSearch ul {
    position: relative;
    overflow: hidden;
}
#albumSearch li {
    position: relative;
    width: 176px;
    height: 230px;
    padding: 6px;
    margin: 0 5px;
    text-align: center;
    float: left;
}
#albumSearch li:hover .content_album_musician, #albumSearch li:hover .content_album_title {
    background: #0099cc;
    color: #ffffff;
}
#albumSearch li:hover .cover {
    background: rgba(255,255,255,.5);
    border: 10px solid #0099cc;
}
#albumSearch li:hover .content_album_price, #albumSearch li:hover .content_album_thumb {
    color: #424242;
}
#albumSearch .content_album_cover {
    position: relative;
    left: 4px;
    width: 178px;
    height: 178px;
}
#albumSearch .content_album_cover img {
    width: 178px;
    width: 178px;
}
#albumSearch .content_album_regdate {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #99cccc;
    width: 60px;
    height: 60px;
    font-size: 15px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    line-height: 28px;
    opacity: .9;
}
#albumSearch .content_album_info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: transparent;
    width: 178px;
    height: 50px;
    line-height: 25px;
}
#albumSearch .content_album_info span {
    display: inline-block;
    width: 178px;
    height: 25px;
}
#albumSearch .content_album_musician {
    color: #0099cc;
    transition: .5s ease;
}
#albumSearch .content_album_title {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease;
}
#albumSearch .cover {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 174px;
    height: 218px;
    border: 10px solid transparent;
    transition: .5s ease;
}
#albumSearch .cover a {
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: 198px;
    height: 238px;
    text-decoration: none;
}
#albumSearch .content_album_price {
    position: relative;
    top: 140px;
    color: transparent;
    text-shadow: 0 0 50px #eeeeee;
    font-size: 25px;
    font-weight: bold;
    transition: .5s ease;
}
#albumSearch .content_album_thumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 62px;
    color: transparent;
    transition: .5s ease;
}
#albumSearch .content_album_thumb span {
    display: block;
    padding: 5px;
    font-size: 20px;
    text-align: right;
}
#albumSearch .content_album_thumb i {
    cursor: pointer;
}