@charset "UTF-8";


/* notice */
#musicianNotice {
    position: relative;
    top: -5px;
    left: -5px;
    width: 1000px;
    min-height: 40px;
    padding: 20px 0 0;
}
#musicianNotice .notice:before {
    position: absolute;
    top: -30px;
    left: 20px;
    display: block;
    content: '';
    border: 15px solid transparent;
    border-bottom: 15px solid #eeeeee;
}
#musicianNotice .notice {
    background: #eeeeee;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 960px;
    min-height: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 20px;
}
#musicianNotice .notice em {
	display: block;
    font-size: 12px;
}
#musicianNotice .notice_setting {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    font-size:30px;
    cursor: pointer;
}

#musicianNotice .musician_notice_update {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1;
    background: #eeeeee;
    width: 0;
    height: 125px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px #424242;
    margin-left: -500px;
    overflow: hidden;
    opacity: .9;
    transition: .5s ease;
}
#musicianNoticeWord {
    width: 960px;
    height: 75px;
    padding: 0;
    border: none;
    border-radius: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    resize: none;
    outline: none;
    overflow: scroll;
}
#musicianNotice .btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
}

/* info */
#indieInfo, #lastAlbum {
    position: relative;
    width: 495px;
    height: 88px;
    float: left;
    padding: 5px 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 5px 0;
}
#indieInfo span {
    position: relative;
    float: left;
    min-width: 225.5px;
    margin: 13.5px 6px; /*  */
    font-size: 18px;
    text-align: left;
}
#indieInfo em {
    position: absolute;
    left: 60px;
}
#indieInfo li {
    float: left;
}

/* album */
#lastAlbum  {
    overflow: hidden;
}
#lastAlbum>img {
    position: absolute;
    top: -200px;
    left: -2.5px;
    width: 500px;
    opacity: .7;
}
#lastAlbum * {
    position: absolute;
    left: 0;
}
#lastAlbum a {
    left: 10px;
    display: block;
    width: 475px;
    height: 90px;
}
#lastAlbum a img {
    width: 90px;
    box-shadow: 0 0 1px #424242;
}
#lastAlbum span {
    left: 100px;
    color: #dddd00;
    text-shadow: 0 0 5px #424242;
}
#lastAlbum .album_title {
    width: 365px;
    top: 40px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #eeeeee;
}
#lastAlbum .album_info {
    top: 70px;
    font-size: 12px;
    color: #eeeeee;
}

/* video */
#latestVideo {
    position: relative;
    width: 990px;
    min-height: 185px;
    padding: 5px 0;
    margin: 5px 0;
}
#latestVideo ul {
    width: 982.5px;
    height: 150px;
    margin: 10px 5px 5px;
}
#latestVideo li {
    position: relative;
    width: 240px;
    height: 150px;
    float: left;
    margin: 0 2.5px;
    cursor: pointer;
}
#latestVideo .video_name {
    display: block;
    width: 230px;
    padding: 3px 5px;
}
#latestVideo li:hover .video_name {text-decoration: underline;}
#latestVideo .video {
    position: absolute;
    bottom: 200px;
    left: 110px;
    z-index: 1;
    background: #eeeeee;
    width: 720px;
    height: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: .5s ease;
}
#latestVideo .video i {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    height: 25px;
    font-size:25px;
    border-radius: 12.5px;
    box-shadow: 0 0 1px #424242;
    cursor: pointer;
    transition: .2s ease;
}
#latestVideo .video i:hover {background: #dddddd;}
#latestVideo .video_default {width: 240px;}
#latestVideo .video_play {
    width: 720px;
    height: 0;
}