@charset "UTF-8";

#indieListCate {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 10px 0;
    margin-top: 40px;
}
#indieListCate ul {
    display: inline-block;
    width: 675px;
    overflow: hidden;
}
#indieListCate li {
    float: left;
    width: 75px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    cursor: pointer;
}
#indieListCate li.on {
    background: #99cccc;
    color: white;
}
#indieListOrder {
    position: absolute;
    top: 10px;
    width: 65px;
    height: 36px;
    margin: 0 5px;
    padding: 0;
    border: 1px solid #cccccc;
    cursor: pointer;
}
#indieSearch {
    position: absolute;
    top: 50px;
    right: 0;
    width: 255px;
    height: 35px;
}
#indieSearchForm {
    position: absolute;
    right: 0;
    min-width: 0;
    height: 29px;
    padding: 0 15px;
    line-height: 29px;
    border: 3px solid #99cccc;
    border-radius: 34px;
}
#q {
    position: relative;
    top: -1px;
    width: 0;
    height: 23px;
    padding: 0;
    border: none;
    outline: none;
    font-size: 15px;
    transition: .2s ease;
}
#indieSearchForm:hover #q, #q:focus {
    width: 188px;
    padding: 0 5px;
    padding-right: 20px;
}
#indieSearchForm .btn_indie_search {
    position: absolute;
    top: 5px;
    right: 8px;
    background: transparent;
    width: 15px;
    height: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: .1s ease;
}
#indieSearchForm:hover .btn_indie_search {right: 15px;}

#indieAutoFrame {
    position: absolute;
    top: 40px;
    right: 5px;
    z-index: 1;
    background: white;
    width: 345px;
    height: 0;
    padding: 0;
    box-shadow: 0 0 5px #424242;
    border-radius: 5px 0 0 10px;
    overflow: hidden;
    transition: .2s ease;
}
#indieAutoFrame.on {
    padding: 10px;
}

#indieAutoFrame h3 {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
#indieAutoFrame .search_indie,
#indieAutoFrame .search_album,
#indieAutoFrame .search_music {
    width: 345px;
    padding: 5px 0;
}
#indieAutoFrame .search_album {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#indieAutoFrame li {
    position: relative;
    width: 335px;
    height: 50px;
    padding: 0 5px;
    overflow: hidden;
    transition: .1s ease;
}
#indieAutoFrame li:hover {
    background: rgba(0,0,0,.1);
}
#indieAutoFrame a {
    position: absolute;
    top: 0;
    left: 0;
    width: 345px;
    height: 60px;
    color: #424242;
}
#indieAutoFrame img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 1px #424242;
}
#indieAutoFrame .musician_info,
#indieAutoFrame .album_info,
#indieAutoFrame .music_info {
    position: absolute;
    left: 50px;
    width: 295px;
    height: 50px;
}

#indieAutoFrame .search_indie .musician_name,
#indieAutoFrame .search_album .album_name,
#indieAutoFrame .search_music .music_name {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 295px;
    font-size: 15px;
}
#indieAutoFrame .search_indie .debut_genre,
#indieAutoFrame .search_album .musician_name,
#indieAutoFrame .search_music .musician_name {
    position: absolute;
    top: 30px;
    left: 10px;
    max-width: 295px;
    font-size: 10px;
}